.contact h2 {
  letter-spacing: 4px;
  margin-bottom: 20px;
  color: #009688;
}

.contact a {
  color: #009688;
  text-decoration: none;
  font-weight: 500;
}

.contact a:hover {
  opacity: 0.7;
}

.contact {
  padding: 120px 100px; 
        padding-top: 60px !important; 
   /* <<< SAME AS ABOUT */
}

.contact h2 {
  color: #009688;
}

